* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI", Roboto, Arial, sans-serif;
}

body {
  height:100vh;
  background: #f1f3f4;
  display:flex;
  justify-content:center;
  align-items:center;
}


.card {
  background:white;
  padding:40px;
  width: 360px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
  text-align:center;
}

.card h1 {
  margin-bottom:25px;
  color:#1a73e8;
}


input,
select {
  width: 100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:6px;
  border:1px solid #dadce0;
  font-size:16px;
}

input:focus,
select:focus {
  outline:none;
  border-color:#1a73e8;
}

/* Button */
button {
  width:100%;
  padding:12px;
  background:#1a73e8;
  color:white;
  border: none;
  border-radius: 6px;
  font-size:16px;
  cursor:pointer;
  font-weight:500;
}

button:hover {
  background:#1558b0;
}


.result {
  margin-top:20px;
  font-size:18px;
  color:#202124;
  font-weight:500;
}
