* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color:#141414;
  color:#ffffff;
}


.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px 60px;
  background-color:#000;
}

.logo {
  color: #e50914;
  font-size:28px;
}

.navbar a {
  color:white;
  margin-left:20px;
  text-decoration:none;
  font-weight:00;
}


.main {
  position:relative;
  height:90vh;
  background:url("https://assets.nflxext.com/ffe/siteui/vlv3/5b4d5f7c-hero.jpg")
    center/cover no-repeat;
}

.main-overlay {
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.7);
}

.main-content {
  position:relative;
  z-index: 2;
  height:100%;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align:center;
}

.profile-img {
  width:160px;
  height: 160px;
  border-radius:50%;
  border:4px solid #e50914;
  margin-bottom:20px;
  object-fit:cover;
}

.main-content h2 {
  font-size:42px;
}

.main-content p {
  margin:10px 0 20px;
  font-size:18px;
}

.btn {
  padding: 12px 30px;
  background-color:#e50914;
  color: white;
  text-decoration:none;
  border-radius:4px;
  font-weight:bold;
}


.section {
  padding:80px 60px;
}

.dark {
  background-color:#000;
}

.section-title {
  font-size:32px;
  margin-bottom:30px;
}

.section-text {
  max-width:800px;
  line-height:1.7;
}


.card-row {
  display: flex;
  gap:20px;
  flex-wrap:wrap;
}

.card,
.project-card {
  background-color:#181818;
  padding:30px;
  border-radius:6px;
  min-width:200px;
  transition:transform 0.3s;
}

.card:hover,
.project-card:hover {
  transform:scale(1.08);
}

.project-card h3 {
  color:#e50914;
  margin-bottom:10px;
}

.contact-info p {
  margin-bottom:10px;
  font-size:18px;
}

/* CONTACT ICONS */
.contact-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.contact-icons a {
  display: inline-flex;
  width: 55px;
  height: 55px;
  background-color: #181818;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-icons a:hover {
  transform: scale(1.15);
  background-color: #e50914;
}

.contact-icons img {
  width: 26px;
  height: 26px;
  filter: invert(1);
}


